name: Snap
on:
  pull_request:
  push:
    branches:
      - master
jobs:
  build-snap:
    name: Snap building
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2.3.4
      - name: Build the snap
        uses: snapcore/action-build@v1.0.9
      - name: Uploading snap artifact
        uses: actions/upload-artifact@v2
        with:
          name: snap-files
          path: "*.snap"
  test-snap:
    runs-on: ubuntu-latest
    needs: build-snap
    steps:
      - name: Download built snap
        uses: actions/download-artifact@v2
        with:
          name: snap-files
      - name: Install built snap
        shell: bash
        run: sudo snap install --classic --dangerous etrace*.snap
      - name: Verify snap runs
        shell: bash
        run: |
          # TODO: write actual tests here
          etrace --help || true
